.foote {
    .foote_ro {
        display: flex;
        flex-direction: row;
        background-color: #EAAC7F;
        .foote_ro_desc1 {
            .foote_ro_desc1_ro {
                display: flex;
                flex-direction: row;
                .foote_ro_desc1_ro_tx1 {
                    font-style: normal;
                    font-size: 17px;
                    color: black;
                    font-family: "Libre Caslon Text", sans-serif;
                }
            }
        }

        .foote_ro_desc2 {
            flex-basis: 1750px;
            .foote_ro_desc2_ro {
                .foote_ro_desc2_ro_blo1 {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    flex-direction: row;

                    @include doug_scree_2 {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    @include doug_scree_3 {
                        display: flex;
                        row-gap: 37px;
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        flex-direction: column;
                    }

                    @include doug_scree_4 {
                        display: flex;
                        row-gap: 59px;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        flex-direction: column;
                    }
                    .foote_ro_desc_2_ro_blo1_ro {
                        display: flex;
                        flex-direction: column;
    
                        @include doug_scree_2 {
                            display: flex;
                            flex-direction: column;
                        }
    
                        @include doug_scree_3 {
                            display: flex;
                            flex-direction: column;
                        }
    
                        @include doug_scree_4 {
                            display: flex;
                            flex-direction: column;
                        }
                        .foote_ro_desc_2_ro_blo1_ro_tx1 {
                            position: relative;                    
                            font-style: normal;
                            font-size: 17px;
                            color: black;
                            font-family: "Source Sans Pro";
                            cursor: pointer;
                            transition: 0.5s;
                        
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                                transition: 0.5s;
                            }
    
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                width: 59px;
                                cursor: pointer;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                            }
    
                            @include doug_scree_2 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                            
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
        
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 59px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
    
                            @include doug_scree_3 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                            
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 59px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
    
                            @include doug_scree_4 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 59px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
                        }
    
                        .foote_ro_desc_2_ro_blo1_ro_tx2 {
                            position: relative;                    
                            font-style: normal;
                            font-size: 17px;
                            color: black;
                            font-family: "Source Sans Pro";
                            cursor: pointer;
                            transition: 0.5s;
                            
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                                transition: 0.5s;
                            }
    
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                width: 59px;
                                cursor: pointer;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                            }
    
                            @include doug_scree_2 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
        
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 59px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
    
                            @include doug_scree_3 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 59px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
    
                            @include doug_scree_4 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 59px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
                        }
    
                        .foote_ro_desc_2_ro_blo1_ro_tx3 {
                            position: relative;                    
                            font-style: normal;
                            font-size: 17px;
                            color: black;
                            font-family: "Source Sans Pro";
                            cursor: pointer;
                            transition: 0.5s;
                            
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                                transition: 0.5s;
                            }
    
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                width: 41px;
                                cursor: pointer;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                            }
    
                            @include doug_scree_2 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 41px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
    
                            @include doug_scree_3 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 41px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                } 
                            }
    
                            @include doug_scree_4 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 41px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                } 
                            }
                        }
    
                        .foote_ro_desc_2_ro_blo1_ro_tx4 {
                            position: relative;                    
                            font-style: normal;
                            font-size: 17px;
                            color: black;
                            font-family: "Source Sans Pro";
                            cursor: pointer;
                            transition: 0.5s;
                            
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                                transition: 0.5s;
                            }
    
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                width: 41px;
                                cursor: pointer;
                                height: 5px;
                                left: 0px;
                                bottom: -1px;
                                border-radius: 75px;
                                background-color: black;
                            }
    
                            @include doug_scree_2 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 41px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                }
                            }
    
                            @include doug_scree_3 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 41px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                } 
                            }
    
                            @include doug_scree_4 {
                                position: relative;                    
                                font-style: normal;
                                font-size: 17px;
                                color: black;
                                font-family: "Source Sans Pro";
                                cursor: pointer;
                                transition: 0.5s;
                                
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                    transition: 0.5s;
                                }
            
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    width: 41px;
                                    cursor: pointer;
                                    height: 5px;
                                    left: 0px;
                                    bottom: -1px;
                                    border-radius: 75px;
                                    background-color: black;
                                } 
                            }
                        }
                    }
                }
            }
        }
        }    }