.wrappe {
    .blo { 
        .blo_ro {
            .heade {
                border: 7px solid darkgreen;
                .heade_ro {
                    border: 7px solid darkgreen;
                    .heade_ro_blo1 {
                        border: 7px solid darkgreen;
                        .heade_ro_blo1_ro {
                            border: 7px solid darkgreen;
                            .heade_ro_blo1_ro_tx1 {
                                border: 7px solid darkgreen;
                            }

                            .heade_ro_blo1_ro_tx2 {
                                border: 7px solid darkgreen;
                            }

                            .heade_ro_blo1_ro_tx3 {
                                border: 7px solid darkgreen;
                            }

                            .heade_ro_blo1_ro_tx4 {
                                border: 7px solid darkgreen;
                            }

                            .heade_ro_blo1_ro_tx5 {
                                border: 7px solid darkgreen;
                            }
                        }
                    }
                }
            }
        }
    }
}